{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms_styles/create_post_from_styles.css') }}">
{% endblock links %}

{% block content %}
    <h1 class="create-post-title">WHAT`S ON YOUR MIND?</h1>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p class="form-block">
            {{ form.body.label(class='form-label') }}
            <br>
            {{ form.body(cols=50, rows=20) }}
            {% for error in form.body.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit() }}
        </p>

    </form>
{% endblock content %}