{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms_styles/edit-profile-styles.css') }}">
{% endblock links %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="{{ url_for('edit_profile') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        {{ form.avatar.label }}<br>
                        {{ form.avatar(class='avatar', style='background-image: url(url_for("static", filename="img/login_img.jpg"));') }}<br>
            
                        {% for error in form.avatar.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        
                    </p>
                </div>

                <div class="col-md-6">
                    <p>
                        {{ form.full_name.label }}<br>
                        {{ form.full_name }}<br>
            
                        {% for error in form.full_name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name }}<br>
            
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email }}<br>
            
                        {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>           
                </div>
            </div>

            <div class="row">
                <p>
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(cols=50, rows=4) }}<br>
        
                    {% for error in form.about_me.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    
                </p>        
            </div>

            <div class="row">
                <p>{{ form.submit(class='btn btn-success submit-button') }}</p>
            </div>
        </div>     


    </form>
{% endblock content %}