{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crumbs_styles/post-styles.css') }}">
{% endblock links%}

<div class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-1 padding-0-block">
                <img src="{{ post.author.get_avatar(36) }}" alt="" class="post-user-icon">
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="post-username">
                        <a href="{{ url_for('user_page', username=post.author.username) }}" class="post-user-full_name">{{ post.author.full_name }}</a>
                        <a href="{{ url_for('user_page', username=post.author.username) }}" class="post-user-username">@{{ post.author.username }}</a>
                        <span class="post-date"> 
                                   
                            {% if post.post_date.time_passed %}
                                    {{ moment(post.timespan).fromNow(true) }}
                                {% else %}
                                    {{ moment(post.timespan).format(post.post_date.time_format) }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                
                <div class="row">
                    {{ post.body }}
                </div>
            </div>

            <div class="col-md-1 padding-0-block">
                {% if post.author == current_user %}
                        <div class="">
                            <form action="{{ url_for('delete_post', id_=post.id) }}" method="POST">
                                <input type="submit" class="delete_button post_icon" value="">
                            </form>
                        </div>
            
                        <div class="edit_button">
                            <a href="{{ url_for('edit_post', id_=post.id) }}"><img src="{{ url_for('static', filename='img/edit_icon.png') }}" alt="edit_icon" class="post_icon"></a>
                        </div>
                {% endif %}

            </div>
        
        </div>
    </div>
</div>


