html, body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
}

div.error, div.info {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 70%;
    border: 1px solid rgb(54, 54, 54);

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.error{
    background-color: rgb(223, 146, 146);
    
}

div.info{
    background-color: rgb(163, 223, 163);
}


.post-article{
    width: 200px;
    margin-left: 300px;
}

nav{
    height: 40px;
    margin-top: 20px;
}

.nav-link{
    font-size: larger;    
}


.logo{
    display: inline;
}

.left-block{
    border-right: 0.5px solid rgb(165, 227, 230);
}

.right-block{
    border-left: 0.5px solid rgb(165, 227, 230);
}

.page-footer{
    background-color: rgb(240, 241, 241);
    height: 100px;
}

.main-content{
    margin-top: 20px;
    margin-bottom: 30px;
}


.footer-logo{
    text-align: center;
    width: 30%;
    margin: auto;
    line-height: 90px;
    vertical-align: middle;
}