html, body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;

    position: relative;
}

main{
    min-height: calc(100% - 50px);
}

footer{
    margin-bottom: 50px;
}

.block{
    height: 100%;
}

.main-part-page{
    height: 100%;
}

.post-article{
    width: 200px;
    margin-left: 300px;
}

nav{
    height: 40px;
    margin-top: 20px;
}

.nav-link{
    font-size: 25px;
    color: rgb(47, 47, 47);
    border-radius: 50px;
    width: auto;
    padding-left: 35px;

    transition: linear 0.5s;
}

.nav-link:hover{
    font-size: 27px;
    color: rgb(92, 92, 92);
}

.navigation{
    text-align: left;
    margin-left: 30%;
    margin-top: 10%;
}


.page-footer{
    background-color: rgb(248, 248, 248);
    height: 100px;
}

.main-content{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 100%;
}


.footer-logo{
    text-align: center;
    width: 30%;
    margin: auto;
    line-height: 90px;
    vertical-align: middle;
}

.upper-block{
    position: relative;

    height: 45px;
    width: 100%;
    margin: 0;
    transition: linear 0.2s;

    background-color: rgb(248, 248, 248);
}

.upper-block:hover{
    background-color: rgb(255, 255, 255);
}

.upper-logo{
    margin-top: 5px;
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-size: 30px;
    transition: linear 0.3s;
}
.upper-logo:hover{
    color: rgb(168, 168, 168);
}

.search-form-block{
    display: inline-block;
    position: absolute;

    top: 6px;
    right: 30px;
}

.search-form{
    border: rgb(143, 143, 143) 1px solid;
    border-radius: 4px;
    padding: 4px 15px;
    background-color: rgb(214, 214, 214);

    transition: linear 0.1s;
}

.search-form:focus{
    background-color: rgb(255, 255, 255);
}



