body{
    background-color: rgb(255, 255, 255);
}

p.error, p.info {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 25%;
}

p.error{
    background-color: rgb(216, 69, 69);
    
}

p.info{
    background-color: rgb(49, 182, 49);
}


.post-article{
    width: 200px;
    margin-left: 300px;
}


.main-greeting{
    margin: auto;
    width: 35%;
    text-align: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    height: 40px;
    margin-top: 20px;
}

.nav-link{
    font-size: larger;    
}


.logo{
    display: inline;
}

