.create-post-link{
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-top: 100px;

    font-weight: bold;
    background-color: rgb(231, 226, 226);
    transition: linear 0.5s;
    color: rgb(112, 108, 108);

    border-radius: 4px;
}

.create-post-link:hover{
    background-color: rgb(66, 66, 66);
    color: rgb(202, 202, 202);
}

.what_on_mind_phrase{
    font-size: 30px;
}


.online{
    color: green;
    font-size: large;
    text-decoration: underline;
}

.follow-link{
    text-decoration: none;
    font-size: medium;
    padding: 4px;
}
.username{
    color: rgb(100, 100, 100);
    font-size: 20px;
}

.avatar{
    width: 210px;
    height: 200px;
    border-radius: 50%;
}

.edit-button{
    text-decoration: none;
    color: rgb(37, 37, 37);

}

.follow-block{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    width: auto;

}

.follow-count{
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;

}

.block-user-info{
    margin-top: 80px;
    margin-right: 100px;
    background-color: rgb(194, 145, 145);
}
.about-me{
    white-space: pre-wrap;
}

.name-block{
    margin-top: 20px;
}