<!-- <table>
    <tr>
        <td><img src="{{ user.get_avatar(36) }}" alt=""></td>
        <td>{{ post.author.username }}: <br>
            <strong style="font-size: 22px;">{{ post.title }}</strong><br>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            {{ post.body }} 
        </td>
    </tr>
</table> -->

<div class="container">
    <img src="{{ user.get_avatar(36) }}" alt="" class="post-user-icon">

    <h4 class="post-username">
        {{ post.author.username }}
    </h4>
    
    <span class="post-date">{{ post.post_date }}</span>

    <p class="post-content">
        {{ post.body }}
    </p>

    {% if post.author == current_user %}
        <div class="buttons_container">    
            <div class="">
                <form action="{{ url_for('delete_post', id_=post.id) }}" method="POST">
                    <input type="submit" class="delete_button post_icon" value="">
                </form>
            </div>

            <div class="edit_button">
                <img src="{{ url_for('static', filename='img/edit_icon.png') }}" alt="edit_icon" class="post_icon">
            </div>
        </div>
    {% endif %}


</div>