{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-page-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post-styles.css') }}">

{% endblock links%}



{% block content %}

    <img src="{{ user.get_avatar(128) }}" alt="user_avatar">

    <h1>User: {{ user.username }}</h1>

    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}

    <p>Last seen on: {{ user.get_last_seen }}</p>


    <!-- {% if user.last_seen %}
        {% if not user.get_last_seen %}
            <p>Last seen on: {{ user.get_last_seen }}</p>
        {% else %}
            <p class="online">Online</p>
        {% endif %}
    {% endif %} -->


    {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% elif not current_user.is_following(user) %}
        <p><a href="{{ url_for('follow', username=user.username) }}" class="follow-link">Follow</a></p>
    {% else %}
        <p><a href="{{ url_for('unfollow', username=user.username) }}" class="follow-link">Unfollow</a></p>
    {% endif %}

    <hr>

    {% if user == current_user %}
        <div class="write-post-block">
            <span class="what_on_mind_phrase">Whats on your mind?</span>
            <a href="{{ url_for('create_post') }}" class="create-post-link">Create post</a>
        </div>
    {% endif %}

    <h2 class="post-article">My posts: </h2>

    {% for post in posts %}
        <div class="post">
            {% include '_post.html' %}
        </div>
    {% endfor %}

{% endblock content %}